body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.colour{
    color: blue;
}
section{
    display: flex;

}
.abir{

    padding:auto ;
}
.abir img{
    width:330px ;
}
.inboxme{
    text-decoration: none;
    background-color: rgb(248, 103, 6);
    padding: auto;
    border-radius: 5px;
    color:white;
    font-size:20px ;
    background-image:linear-gradient(orange,tomato) ;
    font-weight: 400;
}