body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.colour{
    color: blue;
}
section{
    display: flex;

}
.abir{

    padding:auto ;
}
.abir img{
    width:330px ;
}