body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
h1{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.colour{
    color: blue;
}
 .flexible-continer{
    display: flex;
    margin-bottom:px;
}
.abir{
 margin:5% 5%  ;
    padding: auto ;
}
.abir img{
    margin: 10px ;
    width:500px ;
}
.inboxme{
    margin-bottom: 100px;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color:white;
    font-size:20px ;
    background-image:linear-gradient(orange,tomato) ;
    font-weight: 700;}
    .top-section{
      background-image:url(images/top-banner.png) ;
     background-repeat:no-repeat ;

    }
    .middle-section{
    background-image: url(images/dream-bg.png);
   background-repeat:no-repeat ;
   background-position:right ;

 }
 .exprience-area {
  background-image:url(images/exp-bg.png);
  background-repeat:no-repeat ;
  background-position:left ;

 }
 .expriences{
    margin:5% 5%  ;
    padding:5% 5%  ;
    box-shadow: 5px 5px 10px cornflowerblue;
    border-radius:5px ; 
    border:10px solid ;
    border-image: repeating-linear-gradient(30deg, #4d9f0c, #9198e5, #4d9f0c 20px) 60;
 } 
 footer{ 
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:'Dancing Script' ;

 }
 